<?xml version="1.0"?>
<model>
  <name>background_forest</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Juan Pablo Valdivia</name>
    <email>jpvaldivia@theconstructsim.com</email>
  </author>

  <description>
    Conversion to model by TheConstruct
  </description>
</model>
